@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";
@import "base.less";

.vert{
  height: 100%;
  .container{
    height: 100%;
    .row-fluid{
      height:100%;
      [class*="span"]{
        height: 100%;
        display: table;
        .vert-content{
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }
}
/* ---------------------------------------
   Typografie
----------------------------------------*/

body {
  color: #6a6a6a;
}

/* ---------------------------------------
   Navs
----------------------------------------*/


header h1{
  color: @white;
  font-weight: bold;
}

.desk{
	background: url("../img/desk.jpg") no-repeat center center;
	background-size: cover;
	height: 600px;
}



/* ==========================================================================
  Responsive styles | Main site
========================================================================== */

